* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 110%;
}
body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    background-color: #ccc;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #eee;
    padding: 10%;
}
h1 {
    margin: 1em 0;
    font-size: 300%;
}
table {
    width: 90%;
    border-collapse: collapse;
}
button {
    margin: 0.5em;
    font-size: 200%;
}
#scores {
    background-color: #ccc;
}
td {
    padding: 0.1em;
}
